* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #E5E5FD;
    min-width: 100vh;
    border: 10px solid #1D1E4C;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.img_container,
img {
    width: 300px;
    height: 320px;
}

.top-sction {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px
}

.top-sction h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1D1E4C;
}

.top-sction h4 {
    text-align: end;
    font-size: 30px;
}

.img_container {
    border-radius: 50%;
    overflow: hidden;
}

.about_section {
    margin-top: 50px;
}

.about_section h2 {
    font-size: 70px;
    font-weight: 400px;
    margin-bottom: 20px;
}

.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography-section {
    margin-top: 50px;
}

.biography-section h3 {
    margin-bottom: 20px;

}

.biography-section p {
    letter-spacing: 0.5px;
}

.biography-section ul {
    margin-left: 50px;
}

.biography-section li {
    margin-bottom: 15px;
}

.biography-section {
    margin: 50px 0;

}

footer {
    margin: 50px 0;
}

footer p {
    text-align: end;
}